@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* root styles */
:root {
  --black-bg: #1a1c19;
  --white-bg: #fff;
  --header-bg: #3c3a39;
  --primary-text: #ff6b00;
  --supporting-text: #fff5e1;
  --crete: "Crete Round", serif;
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --inter: "Inter", sans-serif;
  --input-text: grey;
}

/* reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* typography */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  position: relative;
  overflow-x: hidden;
}

header {
  background: var(--header-bg);
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow-x: hidden;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  color: var(--white-bg);
  font-family: var(--roboto);
  margin: 2rem;
}

.logo-desktop {
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-right: 5rem;
}

span {
  font-size: 1.6rem;
}

.message-icon {
  width: 2rem;
  height: 2rem;
}

.mobile-nav {
  display: none;
}

.menu-icon span {
  width: 2rem;
  height: 2px;
  background: var(--white-bg);
}

/* Hero Section */

.headline-container {
  display: flex;
  height: 100vh;
  max-width: 100%;
  background: var(--black-bg);
  color: var(--white-bg);
  flex-direction: row;
  gap: 3rem;
  position: relative;
  overflow: hidden;
}

.illustration {
  height: 100%;
  background-image: url("./assets/images/illustration-header.png");
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
}

.text-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10%;
  margin-top: 10%;
  line-height: 1.25;
  gap: 1rem;
  transition: filter 0.5s ease;
  z-index: 10;
}

.headline-text {
  width: 50%;
}

.headline-text h1 {
  font-family: var(--crete);
  color: var(--primary-text);
  font-size: 6rem;
  font-weight: 400;
  margin-top: 8rem;
}

.headline-text h2 {
  font-family: var(--roboto);
  color: var(--supporting-text);
  font-size: 3rem;
  font-weight: 500;
}

.headline-text p {
  font-family: var(--inter);
  color: var(--white-bg);
  font-weight: 200;
  line-height: 1.6;
  font-size: 2rem;
}

.headline-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 5%;
  top: 40%;
}

.hover-overlay {
  background-color: var(--white-bg);
  margin-top: 6rem;
  width: 80%;
  height: 80%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease, visibility 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*

.headline-container:hover .text-icons-container,
.headline-container:hover .illustration {
  filter: blur(25px);
}

.headline-container:hover .hover-overlay {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.first-overlay-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.h2-desktop-overlay {
  color: var(--black-bg);
  font-family: var(--crete);
  font-size: 3rem;
  margin-left: 3.6rem;
  font-weight: 400;
}

.h2-mobile-overlay {
  display: none;
}

.unordered-list-overlay {
  display: flex;
  margin-left: 4rem;
  margin-top: 1rem;
  gap: 5px;
}

.unordered-list-overlay li {
  background: var(--white-bg);
  color: var(--black-bg);
  padding: 1rem 1.2rem;
  border: 0.1px solid black;
  font-size: 1.3rem;
  list-style-type: none;
}

.overlay-second-div {
  display: flex;
  margin: 3.6rem;
}

.overlay-image img {
  width: 100%;
  height: auto;
}

.overlay-text {
  width: 40%;
  padding-left: 3rem;
}

.overlay-text p {
  font-family: var(--inter);
  color: var(--black-bg);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
}

.overlay-buttons {
  background-color: var(--primary-text);
  color: var(--white-bg);
  font-family: var(--inter);
  padding: 1.3rem 2rem;
  border: 0;
  margin-top: 13.8rem;
  margin-right: 2rem;
}

.overlay-icon-live {
  width: 1.5rem;
  height: auto;
  color: var(--white-bg);
}

.overlay-icon-github {
  width: 2.6rem;
  height: 1.6rem;
} */

/* Works Section */

.works-header {
  width: 100%;
  display: flex;
  padding: 10rem 1rem 10rem 10rem;
}

.works-header h2 {
  font-size: 3rem;
  font-family: var(--crete);
  font-weight: lighter;
  opacity: 0.7;
}

.heading-line {
  background-color: gray;
  width: 70%;
  height: 1px;
  margin-top: 2.3rem;
  margin-left: 2.5rem;
}

.card-1 {
  display: flex;
  padding: 0 10rem;
}

.card-1 img {
  width: 40%;
}

.div-info {
  width: 30%;
  margin-left: 1rem;
}

.div-info h2 {
  font-size: 3rem;
  font-family: var(--crete);
  font-weight: lighter;
  padding-left: 1rem;
}

.card-1 p {
  font-family: var(--inter);
  line-height: 2.3rem;
  font-size: 1.7rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-top: 3rem;
}

.unordered-list {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  margin-top: 1.6rem;
}

.unordered-list li {
  background: #ffffff37;
  padding: 1rem 1.2rem;
  border: 0.2px solid black;
  font-size: 1.6rem;
}

.card-1-button {
  background-color: var(--primary-text);
  color: var(--white-bg);
  font-family: var(--inter);
  font-size: 400;
  padding: 1.5rem 2rem;
  border: none;
  margin-left: 1rem;
  margin-top: 1rem;
  width: fit-content;
}

/* Many Cards */

.many-divs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 2rem 9rem;
}

.card-2 {
  position: relative;
  display: flex;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%),
    url(assets/images/card-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  color: var(--white-bg);
  transition: all 0.9s ease;
  flex: 1;
}

.card-info {
  padding-top: 20rem;
  z-index: 2;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-2 h2 {
  font-family: var(--crete);
  color: var(--white-bg);
  font-size: 3.1rem;
  margin-left: 3%;
  font-weight: lighter;
}

.card-2 p {
  font-size: 1.6rem;
  font-family: var(--inter);
  font-weight: 400;
  margin-left: 3%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.card .list-div {
  margin-left: -1rem;
  margin-top: auto;
}

.big-button {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-text);
  color: var(--white-bg);
  font-family: var(--inter);
  font-size: 400;
  padding: 1.3rem 2rem;
  border: 0;
  width: 100%;
  z-index: 2;
}

.card-2:hover {
  background: url(assets/images/card-img.png);
  background-size: cover;
}

.about-me-section h2 {
  font-family: var(--crete);
  color: var(--primary-text);
  font-size: 7.6rem;
  font-weight: 400;
  padding-top: 10rem;
  padding-left: 9rem;
}

.about-me-section p {
  font-family: var(--inter);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-bg);
  width: 80%;
  margin-top: 2rem;
  line-height: 2.4rem;
}

.contact-form p {
  font-family: var(--inter);
  font-size: 3.2rem;
  color: #172b4d;
  line-height: 4rem;
  font-weight: 700;
}

.card-2:hover .card-info,
.card-2:hover h2,
.card-2:hover p,
.card-2:hover .list-div {
  opacity: 0;
}

.card-2:hover .big-button {
  display: block;
}

/* About Me Section */

.illustration2 {
  position: absolute;
  top: 10%;
  right: -38%;
  width: 70%;
}

.illustration2 img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.illustration-mobile {
  display: none;
}

.about-container {
  background-color: var(--black-bg);
  width: 100%;
  position: relative;
}

.about-text {
  padding-left: 9rem;
}

.about-button {
  background-color: var(--primary-text);
  color: var(--white-bg);
  font-family: var(--inter);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.3rem 2rem;
  border: none;
  margin-top: 2rem;
}

.lining {
  width: 80%;
  height: 2px;
  background: grey;
  margin: 15rem 9rem;
}

.languages-container {
  display: flex;
  justify-content: space-around;
}

.languages-icons {
  margin-right: 1rem;
}

.languages h3 {
  color: var(--white-bg);
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.languages img {
  width: 1.5rem;
  height: auto;
}

.languages ul li {
  list-style-type: none;
  color: var(--white-bg);
  padding: 1.5rem;
  font-size: 2rem;
}

/* Contact Section */

.contact-form {
  width: 100%;
  display: flex;
  padding-left: 9rem;
  padding-top: 9rem;
  padding-bottom: 5rem;
}

.contact-info {
  width: 40%;
}

form input {
  padding: 1.8rem;
  border: none;
}

.input-section {
  width: 50%;
}

.input-section input::placeholder {
  font-size: 1.7rem;
  color: var(--input-text);
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  margin-top: 3rem;
  text-align: left;
  line-height: 1.2;
  background-color: #fbf8f7;
  border: none;
}

textarea::placeholder {
  font-style: italic;
  font-size: 1.7rem;
  color: var(--black-bg);
}

.button-div {
  display: flex;
}

.get-in-touch-button {
  background-color: var(--primary-text);
  color: var(--white-bg);
  font-family: var(--inter);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.3rem 2rem;
  border: none;
  margin-top: 2rem;
}

.footer-line {
  width: 100%;
  height: 1px;
  border: 0.5px solid gray;
}

.div-footer-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons img {
  color: #172b4d;
}

#buttons:hover {
  background-color: #fff5e1;
  color: var(--primary-text);
}

/* MOBILE VERSION */

@media screen and (min-width: 300px) and (max-width: 768px) {
  header {
    overflow-x: hidden;
    padding: 4rem 2.6rem;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    color: var(--white-bg);
    font-family: var(--roboto);
  }

  .logo-mobile {
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 3rem;
    margin-bottom: 3px;
  }

  .mobile.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lines {
    display: block;
    width: 2rem;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
  }

  /* Hero Section */

  .illustration {
    bottom: -27%;
    background-size: 90%;
    background-position: 510%;
  }

  .text-icons-container {
    display: flex;
    flex-direction: column;
  }

  .headline-text {
    width: 100%;
    padding-top: 40%;
  }

  .headline-text h1 {
    font-size: 4rem;
  }

  .headline-text h2 {
    font-size: 2.4rem;
    letter-spacing: 0.5px;
  }

  .headline-icons {
    flex-direction: row;
    align-items: center;
    top: 70%;
    padding-left: 5px;
  }

  .headline-icons img {
    width: 4.2rem;
    height: 4.2rem;
  }

  /* Overlay */

  .h2-desktop-overlay {
    display: none;
    height: 100vh;
  }

  .h2-mobile-overlay {
    display: block;
    color: var(--black-bg);
    font-family: var(--crete);
    font-size: 3rem;
    margin-left: 1rem;
    font-weight: 400;
  }

  .unordered-list-overlay {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .overlay-second-div {
    flex-direction: column;
    margin: 1rem;
  }

  .overlay-text {
    width: 100%;
    padding-left: 1rem;
  }

  /* Works About Section */

  .works-about-section {
    padding: 10rem 5% 5rem;
  }

  .works-header {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 0;
  }

  .heading-line {
    background-color: gray;
    width: 87%;
    height: 1px;
    margin-top: 10%;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .card-1 {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .card-1 img {
    margin-top: 19%;
    margin-left: 5%;
    width: 90%;
  }

  .div-info {
    width: 90%;
  }

  /* Many Cards */

  .many-divs {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .card-2 {
    margin-top: 2rem;
    width: 100%;
    background:
      linear-gradient(180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%),
      url(assets/images/card-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: var(--white-bg);
  }

  .card-info {
    padding-top: 6.2rem;
  }

  .card-2 p {
    margin-top: 1.5rem;
  }

  .big-button {
    display: block;
  }

  .card-2:hover .card-info {
    opacity: 0;
  }

  /* About Me Section */

  .about-me-section h2 {
    padding-left: 3rem;
  }

  .about-text {
    padding-left: 3rem;
  }

  .lining {
    margin-top: 25rem;
    margin-left: 3rem;
  }

  .illustration2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 25%;
    right: -60%;
  }

  .illustration2 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .illustration-desktop {
    display: none;
  }

  .illustration-mobile {
    display: block;
  }

  .last-section {
    background-color: var(--black-bg);
    padding: 2rem;
  }

  .languages-container {
    margin-top: 9rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }

  .languages {
    text-align: center;
    flex: 1;
    min-width: 200px;
  }

  .contact-form {
    width: 90%;
    flex-direction: column;
    padding: 3rem;
  }

  .contact-info {
    text-align: center;
    width: 90%;
  }

  .contact-form p {
    padding-top: 4rem;
  }

  .input-section {
    margin-top: 4rem;
    width: 100%;
  }

  .input-section input {
    border: none;
    width: 100%;
    padding: 4rem 2.2rem 1rem 2rem;
  }

  .message-input {
    position: relative;
    display: flex;
    width: 100%;
    height: 10rem;
  }

  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}